@model CentralDasOngs.Communication.Requests.RequestRegisterContributorModel


<h3>Criar conta</h3>

<form asp-action="Register" role="form">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-sm-6">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="RePassword" class="control-label"></label>
        <input asp-for="RePassword" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Cpf" class="control-label"></label>
        <input asp-for="Cpf" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="State" class="control-label"></label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Neighborhood" class="control-label"></label>
        <input asp-for="Neighborhood" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Street" class="control-label"></label>
        <input asp-for="Street" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Complement" class="control-label"></label>
        <input asp-for="Complement" class="form-control" />
    </div>
    <div class="form-group col-sm-6 mt-3">
        <input type="submit" value="Criar conta" class="btn btn-primary" />
        <a asp-action="Login" class="btn btn-outline-info">Retornar</a>
    </div>
</form>